
body {
    background-color: #626262;
}

p {
    text-align: center;
    padding: 10px 10px 10px 10px;
    color: #010000;
    font-family: "Calibri Light";
    font-size: 20px;
}

.contact {
    text-align: left;
    padding-left: 150px;

}

ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    background-color: darkgray;
    text-align: center;
}


#name {
    text-align: center;
    padding-top: 30px;
    color: #040000;
    font-family: "Calibri Light";
    color: #ffffff;
}

img {
    padding: 5px 5px 5px 5px;
    margin: 10px;
    border: 30%;
    background-color: #b7b7b7;
    border-radius: 10%;
    float: left;
    width: 4%;
}

.myImg {
    padding: 5px 5px 5px 5px;
    margin: 10px;
    background-color: #b7b7b7;
    border-radius: 10%;
    float: left;
    width: 100px;
}

label {
    padding-left: 1cm;
    font-size: 16px;
    color: #ffffff;
    font-family: Calibri;

}

input {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #b87b7b;
    border-radius: 4px;
    background-color: #d8d8d8;
    color: #893434;
}

a:link {
    color: white;
    padding: 20px 10px;
    left: 20px;
}

a:hover {
    color: #ffffff;
}

li a {
    text-decoration: none;
    color: #000000;
    padding: 20px 20px;

}

li {
    display: inline;
    font-size: 1.5em;
    font-family: Calibri;
    padding: 10px 20px;
    line-height: 55px;
    background-color: #b46565;
}

li:hover {
    color: white;
}

iframe {
    padding-bottom: 20px;
    padding-top: 70px;
    width: 30%;
}

.navigation {
    background-color: #893434;
    list-style-type: none;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
}

/*.box{
    background-color: #d8d8d8;
    border: 13px solid blue;
    min-height: 50px;
    font-size: 2rem;
}*/

.work {
    width: 10%;
    border-image: 2px;
}

.container3 {
    background-color: white;
    width: 20%;
}

.carousel-slide {
    padding: 5px 5px 5px 5px;
    margin: 10px;

    width: 40%;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #883434;
    color: white;
    text-align: center;
}

h3 {
    position: center;
    display: block;
    font-size: 2em;
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    font-weight: bold;
}
h4 {
    position: center;
    display: block;
    font-size: 1.5em;
    margin-left: 40%;
    margin-right: 40%;
    font-weight: bold;
}

