/* Tags */
body {
    background-color: #626262;
    text-align: center;
    font-family: Calibri light;
    color: #ffffff;
    --bs-body-line-height: 1.5;
}

h2, h3, h4 {
    color: #000000;
    margin-top:0 20%;
}

p {
    font-size: 20px;
    color: #010000;
    font-family: "Calibri Light", serif;
}

ul {
    list-style-type: none;
    background-color: #883434;
    height: auto;
}

li {
    display: inline;
    font-size: 1.5em;
    margin: 2px;
}

a {
    text-decoration: none;
    color: #000000;
    padding: 10px 10px;
}

a:hover {
    color: white;
}

iframe {
    position: initial;
    width: 100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #883434;
    color: white;
    text-align: center;
}

img {
    border-radius: 10%;
}

/*  Classes */

nav {
    opacity: unset;
    text-align: center;
    margin: 10px 0;
    overflow: hidden;
    height: auto;
}

.work {
    width: 250px;
}

.image_size {
    width: 100px;
}

.row {
    padding-top: 20%;
}

.card {

    padding: 2%;
    margin: 2%;
    color: white;
    background-color: #a2a2a2;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 100%;

}


.s_box:hover {
    /*box-shadow: 8px 0px 0 rgb(135, 52, 52);*/
    z-index: 10;
}

.screenshots {
    width: 60%;
    padding: 5px;
    border-radius: 15px;
}

.tr_head {
    color: #ffffff;
    text-align: center;
}

.tr_pic {
    height: 400px;

}

.tr_text {
    max-width: 200px;
    height: auto;
    text-align: center;
    background-color: #a3a3a3;
    overflow: auto;
}

.card-title {
    text-align: center;
    width: auto;
    overflow: auto;
    padding: 10%;
}

.s_box {
    position: initial;
    margin-bottom: 50px;
    width: 200px;
}

.resize:hover {
    position: center;
    transition: transform 0.30s ease;
    transform: scale(1.5);
}

.imgBack {
    z-index: 0;
    width: 500px;
    margin-bottom: 30px;
    padding: 5%;
}

/* IDs */

#contact_me {
    position: relative;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}

#about_me {
    display: inline-block;
    width: 70%;
}

#myImg {
    padding-top: 100px;
    right: 10px;
    border-radius: 5%;
    width: 8%;
}

#iframe_map {
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Scrollbar */
::-webkit-scrollbar-thumb:hover {
    background: #dadada;
}

::-webkit-scrollbar {
    width: 10px;
    height: auto;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #e5e5e5;
    border-radius: 15px;
}

.tr_text-java {
    text-align: center;
    background-color: #a3a3a3;
    overflow: auto;
    height: auto;
}


.card-java {
    padding: 2%;
    margin: 2%;
    color: white;
    background-color: #a2a2a2;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    box-sizing: border-box;
    height: auto;

}

.s_box-java {
    border-block-start: 10%;
    position: initial;
    margin-bottom: 50px;

    height: auto;
    border-color: solid 1px black;
}